p {
  color: DarkRed;
}
html {
  font-size: 25px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'UnifrakturMaguntia', cursive;
  background-color: #999966;
}
body {
  width: 1850px;
  margin: 0 auto;
  background-color: #996666;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
  filter: invert(0%);
}
